# --- IBM Watsonx setup ---
WATSONX_API_URL=https://us-south.ml.cloud.ibm.com
WATSONX_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
WATSONX_PROJECT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# --- OPENAI Setup ---
# OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxx
