# --- IBM Watsonx setup ---
WATSONX_API_URL=https://eu-de.ml.cloud.ibm.com
WATSONX_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
WATSONX_PROJECT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# --- OPENAI Setup ---
# OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxx

# --- Model Name  ---
MODEL_NAME=watsonx:ibm/granite-4-h-small
# or openai:gpt-4.1, watsonx:ibm/granite-3-3-8b-instruct
